.Labels {
  padding: 4px;
  height: 100%; }
  .Labels li {
    display: flex; }
  .Labels .Labels-label {
    background-color: #edd;
    margin: 2px;
    display: flex;
    justify-content: space-between; }
    .Labels .Labels-label .icon {
      opacity: .3;
      vertical-align: middle;
      height: 0.8em;
      padding-bottom: 2px; }
    .Labels .Labels-label .icon:hover {
      opacity: 1; }
